# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\zy_wamp\zy_utils\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
